.chat{
    /* position: relative;
    background-color: white;
    box-shadow: 2px 2px 5px  black;
    right: -100%;
    bottom: 10%;
    width: 400px;
    border-radius: 5px;
    transition: 0.2s;
    padding: 3px;    */
    height: inherit;
}

.chatBody{    
    margin-bottom: 15px;
    overflow-y: scroll;
    max-height: 350px;
    padding: 10px;
    transform: rotateX(180deg);
   
}
.chatOut{
    transform: rotateX(180deg);
}
.inputSearchChat{
    outline: 0;
    width: 100%;
    background-color: rgb(229, 229, 254);
    margin: 5px;
    height: 30px;
    font-size: large;
}
.chatInput{
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-radius: 3px;
    padding: 5px; */
    
}
.chatInputContent{
    background-color: rgb(229, 229, 254);
    
    width: 90%;
    margin: auto;
    border-radius: 30px;
    padding: 0px 0px 0px 10px;
    display: flex;
    margin-bottom: 15px;
}

.chatBody::-webkit-scrollbar{
    width: 8px;
    
}
.chatBody::-webkit-scrollbar-thumb{
    background-color: rgb(117, 122, 122);
    border-radius: 5px;
    
}

.chatBtn{
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 2;
}
.visibleChat{
    right: 6%;
}
.inputSearchChat{
    content: none;
    border: none;
}
.emissorMensage{
    background-color: rgb(229, 229, 254);
    padding: 7px;
    border-radius: 10px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
.receptorMensage{
    padding: 7px;
    background-color: #1976d2;
    color:white;
    border-radius: 10px;
    margin: 8px 0px 0px auto;
    word-break: break-all;
}
.emissor{
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-bottom: 20px;
}
.receptor{
    width: 90%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.emissorAvatar{
    margin-right: 5px;
    min-height: 60px;
    display: flex;
    align-items: flex-end;
}
.receptorAvatar{
    margin-left: 5px;
    min-height: 60px;
    display: flex;
    align-items: flex-end;
}
.receptorHora{
    font-size: 12px;
    color: gray;
    text-align: right;
}
.emissorHora{
    font-size: 12px;
    color: gray;
}
.appBarChat{
    display: flex;
    padding: 10px;
    background-color: rgb(229, 229, 254);
}
.appBarChatTitle{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.appBarChatItemProfissao{
    font-size: 12px;
    color: gray;
}
.btnReturMensageMobile{
    display: none;
}
@media (max-width:700px) {
    .btnReturMensageMobile{
        display: flex;
        width: 100%;
    }
    .visibleChat{
        width: 80%;
        right: 10%;
    }
    .chatBtn{
        bottom: 3%;
    }
    .chat{
        width: 80%;
    }
    .chatBody{
        max-height: 380px;
    }
}